$logo: url('/public/logo.png');

$mainColor: white;
$primaryColor: #282B35;
$secondaryColor: #9C9FA8;

$mainFont: 'Montserrat', sans-serif;
$decorativeFont: 'Allura', cursive;
$primaryFont: 'Montserrat Subrayada', sans-serif;
$secondaryFont: 'Bayon', sans-serif;